@use '../util' as u;

[data-btn='cart-light'] {
  width: u.rem(54);
  height: u.rem(42);
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='25' viewBox='0 0 28 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.132 1.09378C10.9884 1.3261 10.1474 1.51617 9.26336 1.51617C6.74505 1.51617 5.61304 2.69761 4.82907 6.14519C3.96781 9.93195 3.98597 10.3864 4.9993 10.3864C5.56615 10.3864 5.92138 10.0118 6.1009 9.22486C7.35625 3.72318 7.28909 3.86173 8.90264 3.45665C10.1174 3.15168 10.5694 3.21631 11.1265 3.77345C12.0562 4.70314 16.4973 4.7496 17.4075 3.83934C18.1784 3.06847 19.8127 3.01652 20.7191 3.73374C21.0862 4.02435 21.6142 5.30716 21.8929 6.5849C22.6887 10.2361 22.7572 10.3864 23.621 10.3864C24.6119 10.3864 24.6233 10.0452 23.7565 6.20771C22.9586 2.67396 21.868 1.51617 19.3366 1.51617C18.4525 1.51617 17.6116 1.3261 17.4679 1.09378C17.3243 0.861464 15.8987 0.671387 14.3 0.671387C12.7012 0.671387 11.2756 0.861464 11.132 1.09378ZM1.29025 11.3157C0.494464 12.1115 0.695947 13.6042 1.68815 14.2632C2.40791 14.7413 2.75258 15.7568 3.37223 19.228C3.80096 21.6285 4.3674 23.8519 4.63097 24.17C5.29455 24.9696 22.6478 25.0148 23.7227 24.2199C24.2013 23.8659 24.6951 22.2376 25.2218 19.2778C25.8478 15.7589 26.1904 14.7426 26.9118 14.2632C27.904 13.6042 28.1055 12.1115 27.3097 11.3157C26.5857 10.5917 2.01424 10.5917 1.29025 11.3157ZM5.99995 16.5268C6.15116 17.6284 6.2745 19.1684 6.2745 19.9494C6.2745 20.9036 6.47387 21.3687 6.88317 21.3687C7.80357 21.3687 7.87918 20.9864 7.59364 17.783C7.37569 15.3356 7.19321 14.8043 6.52794 14.6775C5.801 14.5386 5.75116 14.713 5.99995 16.5268ZM11.0087 17.8839C11.1058 20.4572 11.2676 21.1575 11.7656 21.1575C12.2636 21.1575 12.4254 20.4572 12.5226 17.8839C12.6383 14.8085 12.5927 14.6104 11.7656 14.6104C10.9386 14.6104 10.893 14.8085 11.0087 17.8839ZM16.0774 17.8839C16.1746 20.4572 16.3363 21.1575 16.8344 21.1575C17.3324 21.1575 17.4941 20.4572 17.5913 17.8839C17.707 14.8085 17.6614 14.6104 16.8344 14.6104C16.0073 14.6104 15.9617 14.8085 16.0774 17.8839ZM21.3404 14.9272C21.2357 15.1012 21.0819 16.5711 20.9987 18.1927C20.8678 20.7364 20.9489 21.1613 21.5863 21.2863C22.1747 21.4012 22.3255 21.1351 22.3255 19.9803C22.3255 19.1824 22.4463 17.6478 22.5941 16.5703C22.8154 14.9538 22.7462 14.6104 22.1966 14.6104C21.8304 14.6104 21.4448 14.7532 21.3404 14.9272Z' fill='white'/%3E%3C/svg%3E%0A");
  background-size: 45%;
  background-position: center;
  background-repeat: no-repeat;
}

.btn-outline-primary,
.btn-outline-secondary {
  &:hover {
    color: #fff !important;
  }
}

[data-btn='size'] {
  width: u.rem(42) !important;
  height: u.rem(33) !important;

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

[data-btn='checkout'] {
  width: u.rem(25);
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
