@use '../util' as u;

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: u.$font;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.no-scroll {
  overflow-y: hidden;
}

a {
  text-decoration: none !important;
}

.z-10 {
  z-index: 10;
}

.header {
  height: u.rem(80);
}

.list-group-item {
  width: u.rem(54);
  height: u.rem(54);
  border-width: unset;
  border-width: 2px !important;
}

[data-element='logo'] {
  width: u.rem(170);

  img {
    width: 100%;
  }

  @include u.breakpoint(xlarge) {
    width: u.rem(200);
  }
}

.hover-scale {
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.1);
    transform-origin: 50% 50%;
  }
}

.link-hover {
  &:hover {
    text-decoration: underline !important;
    transition: all 0.3s ease;
  }
}

.swiper {
  max-width: u.rem(1300);
  width: 90%;
  height: u.rem(415);

  @include u.breakpoint-down(medium) {
    width: 100%;
    max-width: 100%;
    height: auto !important;
  }
}

[data-element='hero'] {
  height: u.rem(618);
  background-image: url('../img/design/home-hero.jpg');
  background-size: cover;
}

[data-element='home-banner'] {
  height: u.rem(618);
  background-image: url('../img/design/mid-banner.jpg');
  background-size: cover;
}

[data-element='history-banner'] {
  height: u.rem(668);
  background-image: url('../img/design/history-banner.jpg');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;

  @include u.breakpoint-down(small) {
    background-position: right center;
  }
}

[data-element='product-category'] {
  background-color: #fff;
  max-width: u.rem(236);
  width: 100%;
  height: u.rem(171);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 0px 25px rgba(60, 50, 50, 0.25),
    5px 15px 50px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;

  svg {
    width: u.rem(80);
    display: block;
    transition: all 0.3s ease;
  }

  span {
    transition: all 0.3s ease;
    color: #000;
  }

  &:hover {
    height: 110%;

    span {
      font-weight: bold;
    }

    svg {
      path {
        fill: #3e8e00;
      }
    }
  }

  @include u.breakpoint-down(medium) {
    width: u.rem(140);
    max-width: 100%;
    height: u.rem(140);
    padding: u.rem(10);

    svg {
      width: u.rem(80);
      display: block;
      transition: all 0.3s ease;
    }
  }

  @include u.breakpoint-down(small) {
    width: u.rem(110);
    max-width: 100%;
    height: u.rem(110);
    padding: u.rem(10);

    svg {
      width: u.rem(40);
      display: block;
      transition: all 0.3s ease;
    }
  }
}

[data-element='slider-card'] {
  height: u.rem(415);

  @include u.breakpoint-down(medium) {
    height: auto;
  }

  img {
    height: u.rem(220) !important;

    @include u.breakpoint-down(medium) {
      height: auto !important;
      width: 90% !important;
      object-fit: cover;
    }
  }
}

.slider-btn {
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;

  svg {
    width: u.rem(40);
  }
  @include u.breakpoint-down(small) {
    bottom: 0;
  }

  &--prev {
    left: u.rem(20);
    bottom: 0;

    @include u.breakpoint-down(medium) {
      left: 0;
    }

    @include u.breakpoint-down(small) {
      left: 0;
    }
  }

  &--next {
    right: u.rem(20);

    @include u.breakpoint-down(medium) {
      right: 0;
    }
    @include u.breakpoint-down(small) {
      right: 0 !important;
    }
  }
}

[data-element='pin-contaier'] {
  height: u.rem(624);

  @include u.breakpoint-down(medium) {
    height: auto !important;
  }
}

[data-element='catalogue-banner'] {
  height: u.rem(355);
  background-image: url('../img/design/catalogue-banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  @include u.breakpoint-down(small) {
    background-position: top;
  }
}

.range-slider__point {
  width: u.rem(4) !important;
  height: u.rem(20) !important;
  border-radius: 0 !important;
  background-color: #000 !important;
  top: 4px !important;
  box-shadow: none !important;
}

.range-slider__container {
  margin-bottom: u.rem(30) !important;
  height: 0 !important;
}

.font-cinzel {
  font-family: u.$font-cinzel !important;
}
